body {
  font-size: 16px;
  color: #fff;
  background: url('../images/bgi.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Oxygen','Lohit', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f9a602;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #000;
}

#logo-img {
  background: url('../images/icon.png') no-repeat;
  width: 100px;
  height: 100px;
  margin:15px 15px 0px 0px;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #006400;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  color: green;
  -ms-transform: rotate(360deg); /* IE 9 */
  transform: rotate(360deg);
  transition-duration: 2s;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #000;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

 #address {
  line-height: 2;
}

 #address > span {
  font-size: 2vw;
}

#testimonials {
  font-style: italic;
  font-size: 1.5vw;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */



/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #000;
}

.banner, #monument-tile, #literature-tile, #heritage-tile, #art-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 0 50px #3F0C1F;
  position: relative;
  border: 2px solid #000;
  overflow: hidden;
  opacity: 70%;
}
.banner:hover, #monument-tile:hover, #literature-tile:hover, #heritage-tile:hover, #art-tile:hover {
  opacity: 100%;
  transform: scale(1.2,1.2);
}
#monument-tile {
  background: url('../images/mon.jpg') no-repeat;
  background-position: center;
}
#literature-tile {
  background: url('../images/lit.jpg') no-repeat;
  background-position: center;
}

#heritage-tile {
  background: url('../images/her.jpg') no-repeat;
  background-position: center;
}

#art-tile {
  background: url('../images/art.jpg') no-repeat;
  background-position: center;
}

.banner span, #monument-tile span, #literature-tile span, #heritage-tile span, #art-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #f9a602;
  color: #000;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/1200.jpg');
    height: 675px;
  }
    #testimonials p
  {
    font-size: 1em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/icon.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/992.jpg') no-repeat;
    height: 558px;



  }

    #testimonials p
  {
    font-size: 1em;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/768.jpg') no-repeat;
    height: 432px;
  }
  #testimonials p
  {
    font-size: 1em;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  #testimonials p
  {
    font-size: 1em;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  .banner, #monument-tile, #heritage-tile, #art-tile, #literature-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
   .banner, #monument-tile, #heritage-tile, #art-tile, #literature-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------- */

#pageh2 p
{
  font-size: 7vw;
  margin-bottom:0;
  color: #000;
  padding-bottom: 0;
}

#pageh2
{
  margin-bottom:50px;
}

#mb1
{
  background: url('../images/darshan.jpeg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb2
{
  background: url('../images/abhyaran.jpg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb3
{
  background: url('../images/temple.jpg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb4
{
  background: url('../images/kile.jpg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb5
{
  background: url('../images/mahal.jpg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb6
{
  background: url('../images/vigyan.jpeg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb7
{
  background: url('../images/waterfall.png') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}

#mb8
{
  background: url('../images/vichitra.jpg') no-repeat;
  background-position: center;
  background-size: 360px 250px;
}